
* {
    margin: 0%;
    font-family: "Bona Nova SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0%;
  }
  .logo{
    width: 150px;
  }
nav{
    background-color: #2F4F4F ;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:#00FFFF;
}
span{
    font-weight: bolder;
    color: #178582;
}
a:hover{
    text-decoration: underline;
}
/*--Menu deroulant */
.menu > li {
    position: relative;
    list-style-type: none;}
.menu > li > a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.menu > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    border-radius: 10%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    z-index: 1;
    background-color: #2F4F4F;
}
.menu > li > ul > li > a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #2F4F4F;
   
}
.menu > li:hover > ul {
    display: flex; /* Affiche les sous-menus au survol */
}
.menu > li:hover > ul:hover{
    text-decoration: underline;
}

@media (max-width: 720px) {
    .nav{
        display: none;
        flex-direction: column;
        justify-content: center;
        background-color: #2F4F4F;
        position: fixed;
        top:0;
        height:100%;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    .nav.show {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .burger-menu {
        top:20px;
        left:10px;
        color:black;
        display: block;
        position: fixed;
        cursor: pointer;
        z-index: 1;
    }
    #logophone{
        display:block;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 720px) {
    .burger-menu, #logophone{
        display: none;
    }
}
/* BODY*/
h1 {
    padding-top: 6px;
	text-align:center;
    font-weight: 700;
}
main { 
	width:90%;
    padding-left: 3%;
    padding-right: 3%;
	margin:0 auto;
	margin-top:-50px;
	background-color:#0A1828;
	border-radius:0.5rem;
}
article{
    margin-bottom: 3%;
}
.introsplit{
    display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.textsplit{
    column-count:2;
    text-align: justify;
    margin-right:1%;
}
@media (max-width:800px) {
	.introsplit { flex-flow:column nowrap; }
	.introsplit>* img{ margin-left:0;margin-top:6% ; }
	.textsplit{ margin-right:0;}
}
@media (max-width:400px) {
	.textsplit{ 
		column-count:1;
	}
}
.picturePresentation, .burritoPic{
    width: 66%;
    margin: 6%;
    box-shadow: 6px 6px 25px rgba(255, 255, 255, 0.5);
    border-radius: 75% 25% 70% 30% / 35% 57% 43% 65% ;
}
.presentation{
    text-align: center;
    margin-top: 5%;
}
.firsth2{
    padding-left: 15px;
}
.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}
.intro ul li{
    list-style-position: inside;
}
.gifmuscle{
    width: 100%;
    padding-top: 5%;
}
@media (max-width:400px) {
    .gifmuscle{
        width: 100%;
    }
}
@media (max-width:1400px){
    .burrito_l{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 3%;
    }
    .burrito_r{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        align-items: center;
        padding: 3%;
    }
}
.burritoPic{
    width: 200px;
}
@media (min-width:1400px){
    .burrito_l, .burrito_r{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
    }
    .vn{
        order: -1;
    }
    .burrito_l>div, .burrito_r>div{
        padding: 3%;
    }
    .burritoPic{
        width: 50%;
    }
    .superoïdes, .natties{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

}
@media (max-width:870px){
    .burrito_l, .burrito_r{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
    }
}
h2{
    text-align: center;
}
.superoïdes, .natties{
    margin: 5%;
}
.allergene{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.allergene_s>p, .allergene_n>p{
    padding: 2%;
}
p,h1,h2,h3, li{
    color: #BFA181;
}